# Book Dataset Preparation

# Setting Up Necessary Things

In [1]:
# Jupyter Notebook Magic Command - Auto Reloading
%reload_ext autoreload
%autoreload 2

# Jupyter Notebook Magic Command - Inline Plotting
%matplotlib inline

In [2]:
# Ignore All Warnings
import warnings
warnings.filterwarnings("ignore")

# Necessary Imports

In [3]:
# Data
import pandas as pd

# Custom 
import preparation as ppt

# Data Cleaning

In [5]:
# Path
file_path = "../../data/raw/book/book.csv"

In [6]:
# Show Anime DataFrame
df = pd.read_csv(file_path)
df.head()

,book_authors,book_desc,book_edition,book_format,book_isbn,book_pages,book_rating,book_rating_count,book_review_count,book_title,genres,image_url
0,Suzanne Collins,Winning will make you famous. Losing means cer...,NaN,Hardcover,9.78044E+12,374 pages,4.33,5519135,160706,The Hunger Games,Young Adult|Fiction|Science Fiction|Dystopia|F...,https://images.gr-assets.com/books/1447303603l...
1,J.K. Rowling|Mary GrandPré,There is a door at the end of a silent corrido...,US Edition,Paperback,9.78044E+12,870 pages,4.48,2041594,33264,Harry Potter and the Order of the Phoenix,Fantasy|Young Adult|Fiction,https://images.gr-assets.com/books/1255614970l...
2,Harper Lee,The unforgettable novel of a childhood in a sl...,50th Anniversary,Paperback,9.78006E+12,324 pages,4.27,3745197,79450,To Kill a Mockingbird,Classics|Fiction|Historical|Historical Fiction...,https://images.gr-assets.com/books/1361975680l...
3,Jane Austen|Anna Quindlen|Mrs. Oliphant|George...,«È cosa ormai risaputa che a uno scapolo in po...,"Modern Library Classics, USA / CAN",Paperback,9.78068E+12,279 pages,4.25,2453620,54322,Pride and Prejudice,Classics|Fiction|Romance,https://images.gr-assets.com/books/1320399351l...
4,Stephenie Meyer,About three things I was absolutely positive.F...,NaN,Paperback,9.78032E+12,498 pages,3.58,4281268,97991,Twilight,Young Adult|Fantasy|Romance|Paranormal|Vampire...,https://images.gr-assets.com/books/1361039443l...

## Reform DataFrame

In [13]:
df["genres"][0].strip().replace("|", ", ")

'Young Adult, Fiction, Science Fiction, Dystopia, Fantasy, Science Fiction'

In [28]:
# Reform Genres
genres_list = []

for i in range(df.shape[0]):
    try:
        genres = df["genres"][i].strip().replace("|", ", ")
        genres_list.append(genres)
    except:
        genres_list.append("")

In [29]:
genres_list[:5]

['Young Adult, Fiction, Science Fiction, Dystopia, Fantasy, Science Fiction',
 'Fantasy, Young Adult, Fiction',
 'Classics, Fiction, Historical, Historical Fiction, Academic, School',
 'Classics, Fiction, Romance',
 'Young Adult, Fantasy, Romance, Paranormal, Vampires, Fiction, Fantasy, Paranormal']

In [30]:
df["genres"] = genres_list

In [32]:
book_reform_path = "../../data/raw/book/book_reform.csv"

ppt.write_dataframe_to_csv(book_reform_path, df)

Dataframe saved successfully:  ../../data/raw/book/book_reform.csv

## Refactoring

In [35]:
# Path
file_path = "../../data/raw/book/book_reform.csv"

In [36]:
# Column Names
cols_name = ["book_title", "book_desc", "genres", "book_rating"]

In [37]:
df_book = ppt.get_processed_df(file_path, cols_name, "book")

In [38]:
ppt.get_df_info(df_book)

Shape of the dataframe:  (44129, 6)
The DataFrame:

,title,description,genres,rating,primary_genre,type
0,The Hunger Games,Winning will make you famous. Losing means cer...,"Young Adult, Fiction, Science Fiction, Dystopi...",4.33,Young Adult,book
1,Harry Potter and the Order of the Phoenix,There is a door at the end of a silent corrido...,"Fantasy, Young Adult, Fiction",4.48,Fantasy,book
2,To Kill a Mockingbird,The unforgettable novel of a childhood in a sl...,"Classics, Fiction, Historical, Historical Fict...",4.27,Classics,book
3,Pride and Prejudice,«È cosa ormai risaputa che a uno scapolo in po...,"Classics, Fiction, Romance",4.25,Classics,book
4,Twilight,About three things I was absolutely positive.F...,"Young Adult, Fantasy, Romance, Paranormal, Vam...",3.58,Young Adult,book

All Data Types:

title             object
description       object
genres            object
rating           float64
primary_genre     object
type              object
dtype: object

Null Values:

title            0
description      0
genres           0
rating           0
primary_genre    0
type             0
dtype: int64

Duplicate Movie Name Count:  0
Duplicate Description Count:  0
DataFrame Details:

,title,description,genres,rating,primary_genre,type
count,44129,44129,44129,44129.000000,44129,44129
unique,44129,44129,28341,NaN,199,1
top,The Hunger Games,Winning will make you famous. Losing means cer...,Fiction,NaN,Fantasy,book
freq,1,1,202,NaN,6295,44129
mean,NaN,NaN,NaN,4.000158,NaN,NaN
std,NaN,NaN,NaN,0.300379,NaN,NaN
min,NaN,NaN,NaN,0.000000,NaN,NaN
25%,NaN,NaN,NaN,3.820000,NaN,NaN
50%,NaN,NaN,NaN,4.010000,NaN,NaN
75%,NaN,NaN,NaN,4.200000,NaN,NaN
max,NaN,NaN,NaN,5.000000,NaN,NaN

In [39]:
df_book["rating"] = (df_book["rating"] * 2).round(2)

In [40]:
ppt.get_df_info(df_book)

Shape of the dataframe:  (44129, 6)
The DataFrame:

,title,description,genres,rating,primary_genre,type
0,The Hunger Games,Winning will make you famous. Losing means cer...,"Young Adult, Fiction, Science Fiction, Dystopi...",8.66,Young Adult,book
1,Harry Potter and the Order of the Phoenix,There is a door at the end of a silent corrido...,"Fantasy, Young Adult, Fiction",8.96,Fantasy,book
2,To Kill a Mockingbird,The unforgettable novel of a childhood in a sl...,"Classics, Fiction, Historical, Historical Fict...",8.54,Classics,book
3,Pride and Prejudice,«È cosa ormai risaputa che a uno scapolo in po...,"Classics, Fiction, Romance",8.50,Classics,book
4,Twilight,About three things I was absolutely positive.F...,"Young Adult, Fantasy, Romance, Paranormal, Vam...",7.16,Young Adult,book

All Data Types:

title             object
description       object
genres            object
rating           float64
primary_genre     object
type              object
dtype: object

Null Values:

title            0
description      0
genres           0
rating           0
primary_genre    0
type             0
dtype: int64

Duplicate Movie Name Count:  0
Duplicate Description Count:  0
DataFrame Details:

,title,description,genres,rating,primary_genre,type
count,44129,44129,44129,44129.000000,44129,44129
unique,44129,44129,28341,NaN,199,1
top,The Hunger Games,Winning will make you famous. Losing means cer...,Fiction,NaN,Fantasy,book
freq,1,1,202,NaN,6295,44129
mean,NaN,NaN,NaN,8.000316,NaN,NaN
std,NaN,NaN,NaN,0.600758,NaN,NaN
min,NaN,NaN,NaN,0.000000,NaN,NaN
25%,NaN,NaN,NaN,7.640000,NaN,NaN
50%,NaN,NaN,NaN,8.020000,NaN,NaN
75%,NaN,NaN,NaN,8.400000,NaN,NaN
max,NaN,NaN,NaN,10.000000,NaN,NaN

# DataFrame to CSV

In [41]:
book_path = "../../data/processed/book/book_rating.csv"

ppt.write_dataframe_to_csv(book_path, df_book)

Dataframe saved successfully:  ../../data/processed/book/book_rating.csv