# Movie Dataset Preparation

# Setting Up Necessary Things

In [1]:
# Jupyter Notebook Magic Command - Auto Reloading
%reload_ext autoreload
%autoreload 2

# Jupyter Notebook Magic Command - Inline Plotting
%matplotlib inline

In [2]:
# Ignore All Warnings
import warnings
warnings.filterwarnings("ignore")

# Necessary Imports

In [3]:
# Custom
import preparation as ppt

# Data Cleaning

In [4]:
# Folder Path and Column Names
folder_path = "../../data/raw/movie/"
cols_name = ["movie_name", "description", "genre", "rating"]

In [5]:
# Get All Movie DataFrame
df_all_movie = ppt.get_all_df(folder_path, cols_name, "movie")

In [6]:
# Get Details of Action Movies
ppt.get_df_info(df_all_movie["action"])

Shape of the dataframe:  (24933, 6)
The DataFrame:

,title,description,genres,rating,primary_genre,type
0,Black Panther: Wakanda Forever,The people of Wakanda fight to protect their h...,"Action, Adventure, Drama",6.9,Action,movie
1,Avatar: The Way of Water,Jake Sully lives with his newfound family form...,"Action, Adventure, Fantasy",7.8,Action,movie
2,Plane,A pilot finds himself caught in a war zone aft...,"Action, Thriller",6.5,Action,movie
3,Everything Everywhere All at Once,A middle-aged Chinese immigrant is swept up in...,"Action, Adventure, Comedy",8.0,Action,movie
5,Ant-Man and the Wasp: Quantumania,"Scott Lang and Hope Van Dyne, along with Hank ...","Action, Adventure, Comedy",6.6,Action,movie

All Data Types:

title             object
description       object
genres            object
rating           float64
primary_genre     object
type              object
dtype: object

Null Values:

title            0
description      0
genres           0
rating           0
primary_genre    0
type             0
dtype: int64

Duplicate Movie Name Count:  0
Duplicate Description Count:  0
DataFrame Details:

,title,description,genres,rating,primary_genre,type
count,24933,24933,24933,24933.000000,24933,24933
unique,24933,24933,335,NaN,16,1
top,Black Panther: Wakanda Forever,The people of Wakanda fight to protect their h...,Action,NaN,Action,movie
freq,1,1,2686,NaN,23629,24933
mean,NaN,NaN,NaN,5.676910,NaN,NaN
std,NaN,NaN,NaN,1.359405,NaN,NaN
min,NaN,NaN,NaN,1.100000,NaN,NaN
25%,NaN,NaN,NaN,4.800000,NaN,NaN
50%,NaN,NaN,NaN,5.800000,NaN,NaN
75%,NaN,NaN,NaN,6.600000,NaN,NaN
max,NaN,NaN,NaN,10.000000,NaN,NaN

## Combine All The DataFrames

In [7]:
df_movie_full = ppt.get_combined_df(df_all_movie)

In [8]:
df_movie = ppt.drop_duplicate(df_movie_full)

In [9]:
df_movie.head()

,title,description,genres,rating,primary_genre,type
0,Black Panther: Wakanda Forever,The people of Wakanda fight to protect their h...,"Action, Adventure, Drama",6.9,Action,movie
1,Avatar: The Way of Water,Jake Sully lives with his newfound family form...,"Action, Adventure, Fantasy",7.8,Action,movie
2,Plane,A pilot finds himself caught in a war zone aft...,"Action, Thriller",6.5,Action,movie
3,Everything Everywhere All at Once,A middle-aged Chinese immigrant is swept up in...,"Action, Adventure, Comedy",8.0,Action,movie
5,Ant-Man and the Wasp: Quantumania,"Scott Lang and Hope Van Dyne, along with Hank ...","Action, Adventure, Comedy",6.6,Action,movie

In [10]:
ppt.get_df_info(df_movie)

Shape of the dataframe:  (112119, 6)
The DataFrame:

,title,description,genres,rating,primary_genre,type
0,Black Panther: Wakanda Forever,The people of Wakanda fight to protect their h...,"Action, Adventure, Drama",6.9,Action,movie
1,Avatar: The Way of Water,Jake Sully lives with his newfound family form...,"Action, Adventure, Fantasy",7.8,Action,movie
2,Plane,A pilot finds himself caught in a war zone aft...,"Action, Thriller",6.5,Action,movie
3,Everything Everywhere All at Once,A middle-aged Chinese immigrant is swept up in...,"Action, Adventure, Comedy",8.0,Action,movie
5,Ant-Man and the Wasp: Quantumania,"Scott Lang and Hope Van Dyne, along with Hank ...","Action, Adventure, Comedy",6.6,Action,movie

All Data Types:

title             object
description       object
genres            object
rating           float64
primary_genre     object
type              object
dtype: object

Null Values:

title            0
description      0
genres           0
rating           0
primary_genre    0
type             0
dtype: int64

Duplicate Movie Name Count:  0
Duplicate Description Count:  0
DataFrame Details:

,title,description,genres,rating,primary_genre,type
count,112119,112119,112119,112119.000000,112119,112119
unique,112119,112119,1433,NaN,23,1
top,Black Panther: Wakanda Forever,The people of Wakanda fight to protect their h...,"Drama, Romance",NaN,Action,movie
freq,1,1,6571,NaN,23653,112119
mean,NaN,NaN,NaN,5.858083,NaN,NaN
std,NaN,NaN,NaN,1.328122,NaN,NaN
min,NaN,NaN,NaN,1.000000,NaN,NaN
25%,NaN,NaN,NaN,5.100000,NaN,NaN
50%,NaN,NaN,NaN,6.000000,NaN,NaN
75%,NaN,NaN,NaN,6.800000,NaN,NaN
max,NaN,NaN,NaN,10.000000,NaN,NaN

# Dataframe to CSV

In [11]:
movie_path = "../../data/processed/movie/movie_rating.csv"

ppt.write_dataframe_to_csv(movie_path, df_movie)

Dataframe saved successfully:  ../../data/processed/movie/movie_rating.csv