# Music Dataset Preparation

# Setting Up Necessary Things

In [1]:
# Jupyter Notebook Magic Command - Auto Reloading
%reload_ext autoreload
%autoreload 2

# Jupyter Notebook Magic Command - Inline Plotting
%matplotlib inline

In [2]:
# Ignore All Warnings
import warnings
warnings.filterwarnings("ignore")

# Necessary Imports

In [19]:
from tqdm.notebook import tqdm
# Data
import pandas as pd

# String
import re

# Custom 
import preparation as ppt

# Data Cleaning

In [4]:
# Path
file_path = "../../data/raw/music/music.csv"

In [5]:
# Show Music DataFrame
df = pd.read_csv(file_path)
df.head()

,title,tag,artist,year,views,features,lyrics,id,language_cld3,language_ft,language
0,Killa Cam,rap,Cam'ron,2004,173166,"{""Cam\\'ron"",""Opera Steve""}","[Chorus: Opera Steve & Cam'ron]\nKilla Cam, Ki...",1,en,en,en
1,Can I Live,rap,JAY-Z,1996,468624,{},"[Produced by Irv Gotti]\n\n[Intro]\nYeah, hah,...",3,en,en,en
2,Forgive Me Father,rap,Fabolous,2003,4743,{},Maybe cause I'm eatin\nAnd these bastards fien...,4,en,en,en
3,Down and Out,rap,Cam'ron,2004,144404,"{""Cam\\'ron"",""Kanye West"",""Syleena Johnson""}",[Produced by Kanye West and Brian Miller]\n\n[...,5,en,en,en
4,Fly In,rap,Lil Wayne,2005,78271,{},"[Intro]\nSo they ask me\n""Young boy\nWhat you ...",6,en,en,en

In [6]:
print("Shape of The DataFrame: ", df.shape)

Shape of The DataFrame:  (5134856, 11)

In [7]:
# Column Names
cols_name = ["title", "lyrics", "tag", "views"]

In [8]:
df_music = ppt.get_processed_df(file_path, cols_name, "music")

In [9]:
ppt.get_df_info(df_music)

Shape of the dataframe:  (3053306, 6)
The DataFrame:

,title,description,genres,rating,primary_genre,type
0,Killa Cam,"[Chorus: Opera Steve & Cam'ron]\nKilla Cam, Ki...",rap,173166,rap,music
1,Can I Live,"[Produced by Irv Gotti]\n\n[Intro]\nYeah, hah,...",rap,468624,rap,music
2,Forgive Me Father,Maybe cause I'm eatin\nAnd these bastards fien...,rap,4743,rap,music
3,Down and Out,[Produced by Kanye West and Brian Miller]\n\n[...,rap,144404,rap,music
4,Fly In,"[Intro]\nSo they ask me\n""Young boy\nWhat you ...",rap,78271,rap,music

All Data Types:

title            object
description      object
genres           object
rating            int64
primary_genre    object
type             object
dtype: object

Null Values:

title            0
description      0
genres           0
rating           0
primary_genre    0
type             0
dtype: int64

Duplicate Movie Name Count:  0
Duplicate Description Count:  0
DataFrame Details:

,title,description,genres,rating,primary_genre,type
count,3053306,3053306,3053306,3.053306e+06,3053306,3053306
unique,3053306,3053306,6,NaN,6,1
top,Killa Cam,"[Chorus: Opera Steve & Cam'ron]\nKilla Cam, Ki...",pop,NaN,pop,music
freq,1,1,1257934,NaN,1257934,3053306
mean,NaN,NaN,NaN,3.074466e+03,NaN,NaN
std,NaN,NaN,NaN,4.718086e+04,NaN,NaN
min,NaN,NaN,NaN,0.000000e+00,NaN,NaN
25%,NaN,NaN,NaN,2.300000e+01,NaN,NaN
50%,NaN,NaN,NaN,8.900000e+01,NaN,NaN
75%,NaN,NaN,NaN,4.580000e+02,NaN,NaN
max,NaN,NaN,NaN,2.335142e+07,NaN,NaN

## Formatting Description

In [27]:
pattern = r"\[.*?\]"

description_list = []

for i in tqdm(range(df_music.shape[0])):
    try:
        desc = df_music["description"][i]
        formatted_desc = re.sub(pattern, "", desc)
        description_list.append(formatted_desc)
    except:
        description_list.append("")
        continue

  0%|          | 0/3053306 [00:00<?, ?it/s]

In [30]:
description_list[5:6]

['\nHaha\nUh-huh\nNo homo (Young Mula, baby!)\nI say, he\'s so sweet, make her wanna lick the wrapper\nRemix, baby!\n\n\nLollipop, lollipop, breastses just like Dolly Parton\nShe ride my spaceship \'til she hit the top\nThat hit the spot\n\'Til she ask, "How many li-i-li-i-licks do it take" \'til she get to shop?\nDon\'t worry why my wrists got so freeze\nTell a girl, "Like Doritos, that\'s not \'cho cheese"\nTell her friends, "Like Fritos, I\'m tryin\' to lay"\nI can\'t only have one, and I ain\'t trying to wait\nThis a song with Wayne, so you know it\'s gon\' melt\nBut you ain\'t finna murder me like everybody else\nI\'ma rap like I got some type respect for myself\nI don\'t do it for my health, man, I do it for the belt\nMan, I do it to the death, \'til the roof get melt\nHundred degrees, drop the roof, so the coupe don\'t melt\nMan, the flow so cold, chicken soup won\'t help\nWe need four more hoes, we need oh, oh, oh, oh!\nYou know what it is when we out of town\nWe balling too serious, and you out of bounds\nSo come here, baby girl\nYou\'re now fucking with the best in the world\n\nLollipop\nThe best in the world\nSh-Sh-She lick me like a lollipop\nWorld, world\nShe— She lick me like a lollipop\n\n\nShawty want a thug, thug, thug\nBottles in the club, club, club (Bottles in the club)\nShawty wanna hump (Shawty wanna)\nYou know I like to touch (Shawty wanna)\nYour lovely lady lumps, lumps, lumps (Shawty wanna)\nShawty want a thug (I like that)\nBottles in the club (Hey, I like that)\nShawty wanna hump (I like that, haha!)\nYou know I like to touch your lovely lady lumps, lumps, lumps\n\n\nShawty say she wanna lick the wrapper\nAnd she gonna lick the rapper\nAnd I just wanna act like a porno-flicking actor\nI Anita-bake her; now, she caught up in that "Rapture"\nI got so much chips, I swear, they call me "Hewlett Packard"\nI got so much chips, you can have a bag if you\'re a snacker\nGreedy mother-fudge cake; now, tell me how that fudge tastes\nI do it for Bloods\' sake—soo-woo!\nThink it\'s voodoo how that roof do di-di-dissipate\nYour girl want to participate\nShe so, so sophisticate, \'cause her brain is off the chain\nAnd then, my diamonds are in the choir because they sing from off my chain\nAnd my Nina just joined the gang because all she do is bang\nLike Ricky Martin; Wayne and Kanye: pick your poison\nIf that woman wanna cut, then tell her I am Mr. Ointment\nTell her to make an appointment with Mr. I-Can\'t-Make-An-Appointment\nTake my lollipop and enjoy it—remix!\n\nShawty want a thug, thug, thug (Shawty want a thug, yeah!)\nBottles in the club, club, club (Bottles in the club, yeah!)\nShawty wanna hump (Yeah! Shawty wanna)\nYou know I like to touch (Yeah! Shawty wanna)\nYour lovely lady lumps, lumps, lumps (Shawty wanna)\nShawty want a thug (I like that)\nBottles in the club (Hey, I like that)\nShawty wanna hump (I like that, haha!)\nYou know I like to touch your lovely lady lumps, lumps, lumps\n\n\nWhy would she? She probably be the odd cookie\nIn the plastic bag \'bout to get crushed by a building\nI\'ve flushed out the feeling of me being the shit\n\'Cause I was leaving skid marks on everywhere I sit\nI am everywhere, I\'m it, like Hide-and-Go\nAnd I can go anywhere: eeny, mini, miney, mo\nI\'m in your neighborhood, area, CD-thing, tapedeck\n\u200biPod, your girlfriend, and she say I got great sex\nSafe sex is great sex, better wear a latex\n\'Cause you don\'t want that late text, that "I think I\'m late" text\nHaha! So wrap it up!\nBu-Bu-But he\'s so sweet, sh-she wanna lick the wrapper\n\n\nShawty want a thug\nBottles in the club, club, club\nShawty wanna hump\nYou know I like to touch\nYour lovely lady lumps, lumps, lumps (Re-Re-Re-Remix, baby!)\n\nLick me like a lollipop (Lollipop)\nShe— She lick me like a lollipop (L-Lollipop)\nSh-Sh-Sh-She lick me like a lollipop (Lollipop)\nShe— She lick me like a lollipop (Lollipop)']

In [31]:
df_music["description"] = description_list

In [32]:
ppt.get_df_info(df_music)

Shape of the dataframe:  (3053306, 6)
The DataFrame:

,title,description,genres,rating,primary_genre,type
0,Killa Cam,"\nKilla Cam, Killa Cam, Cam\nKilla Cam, Killa ...",rap,173166,rap,music
1,Can I Live,"\n\n\nYeah, hah, yeah, Roc-A-Fella\nWe invite ...",rap,468624,rap,music
2,Forgive Me Father,Maybe cause I'm eatin\nAnd these bastards fien...,rap,4743,rap,music
3,Down and Out,"\n\n\nUgh, Killa!\nBaby!\nKanye, this that 197...",rap,144404,rap,music
4,Fly In,"\nSo they ask me\n""Young boy\nWhat you gon' do...",rap,78271,rap,music

All Data Types:

title            object
description      object
genres           object
rating            int64
primary_genre    object
type             object
dtype: object

Null Values:

title            0
description      0
genres           0
rating           0
primary_genre    0
type             0
dtype: int64

Duplicate Movie Name Count:  0
Duplicate Description Count:  1157176
DataFrame Details:

            title description   genres        rating primary_genre     type
count     3053306     3053306  3053306  3.053306e+06       3053306  3053306
unique    3053306     1896130        6           NaN             6        1
top     Killa Cam                  pop           NaN           pop    music
freq            1     1156794  1257934           NaN       1257934  3053306
mean          NaN         NaN      NaN  3.074466e+03           NaN      NaN
std           NaN         NaN      NaN  4.718086e+04           NaN      NaN
min           NaN         NaN      NaN  0.000000e+00           NaN      NaN
25%           NaN         NaN      NaN  2.300000e+01           NaN      NaN
50%           NaN         NaN      NaN  8.900000e+01           NaN      NaN
75%           NaN         NaN      NaN  4.580000e+02           NaN      NaN
max           NaN         NaN      NaN  2.335142e+07           NaN      NaN

In [35]:
df_music = ppt.drop_duplicate(df_music)

In [36]:
ppt.get_df_info(df_music)

Shape of the dataframe:  (1896130, 6)
The DataFrame:

,title,description,genres,rating,primary_genre,type
0,Killa Cam,"\nKilla Cam, Killa Cam, Cam\nKilla Cam, Killa ...",rap,173166,rap,music
1,Can I Live,"\n\n\nYeah, hah, yeah, Roc-A-Fella\nWe invite ...",rap,468624,rap,music
2,Forgive Me Father,Maybe cause I'm eatin\nAnd these bastards fien...,rap,4743,rap,music
3,Down and Out,"\n\n\nUgh, Killa!\nBaby!\nKanye, this that 197...",rap,144404,rap,music
4,Fly In,"\nSo they ask me\n""Young boy\nWhat you gon' do...",rap,78271,rap,music

All Data Types:

title            object
description      object
genres           object
rating            int64
primary_genre    object
type             object
dtype: object

Null Values:

title            0
description      0
genres           0
rating           0
primary_genre    0
type             0
dtype: int64

Duplicate Movie Name Count:  0
Duplicate Description Count:  0
DataFrame Details:

,title,description,genres,rating,primary_genre,type
count,1896130,1896130,1896130,1.896130e+06,1896130,1896130
unique,1896130,1896130,6,NaN,6,1
top,Killa Cam,"\nKilla Cam, Killa Cam, Cam\nKilla Cam, Killa ...",pop,NaN,pop,music
freq,1,1,775392,NaN,775392,1896130
mean,NaN,NaN,NaN,3.346992e+03,NaN,NaN
std,NaN,NaN,NaN,4.641002e+04,NaN,NaN
min,NaN,NaN,NaN,0.000000e+00,NaN,NaN
25%,NaN,NaN,NaN,2.400000e+01,NaN,NaN
50%,NaN,NaN,NaN,9.500000e+01,NaN,NaN
75%,NaN,NaN,NaN,4.920000e+02,NaN,NaN
max,NaN,NaN,NaN,1.118120e+07,NaN,NaN

In [38]:
df_music.rename(columns={"rating": "views"}, inplace=True)

In [39]:
ppt.get_df_info(df_music)

Shape of the dataframe:  (1896130, 6)
The DataFrame:

,title,description,genres,views,primary_genre,type
0,Killa Cam,"\nKilla Cam, Killa Cam, Cam\nKilla Cam, Killa ...",rap,173166,rap,music
1,Can I Live,"\n\n\nYeah, hah, yeah, Roc-A-Fella\nWe invite ...",rap,468624,rap,music
2,Forgive Me Father,Maybe cause I'm eatin\nAnd these bastards fien...,rap,4743,rap,music
3,Down and Out,"\n\n\nUgh, Killa!\nBaby!\nKanye, this that 197...",rap,144404,rap,music
4,Fly In,"\nSo they ask me\n""Young boy\nWhat you gon' do...",rap,78271,rap,music

All Data Types:

title            object
description      object
genres           object
views             int64
primary_genre    object
type             object
dtype: object

Null Values:

title            0
description      0
genres           0
views            0
primary_genre    0
type             0
dtype: int64

Duplicate Movie Name Count:  0
Duplicate Description Count:  0
DataFrame Details:

,title,description,genres,views,primary_genre,type
count,1896130,1896130,1896130,1.896130e+06,1896130,1896130
unique,1896130,1896130,6,NaN,6,1
top,Killa Cam,"\nKilla Cam, Killa Cam, Cam\nKilla Cam, Killa ...",pop,NaN,pop,music
freq,1,1,775392,NaN,775392,1896130
mean,NaN,NaN,NaN,3.346992e+03,NaN,NaN
std,NaN,NaN,NaN,4.641002e+04,NaN,NaN
min,NaN,NaN,NaN,0.000000e+00,NaN,NaN
25%,NaN,NaN,NaN,2.400000e+01,NaN,NaN
50%,NaN,NaN,NaN,9.500000e+01,NaN,NaN
75%,NaN,NaN,NaN,4.920000e+02,NaN,NaN
max,NaN,NaN,NaN,1.118120e+07,NaN,NaN

# DataFrame to CSV

In [40]:
music_path = "../../data/processed/music/music_views.csv"

ppt.write_dataframe_to_csv(music_path, df_music)

Dataframe saved successfully:  ../../data/processed/music/music_views.csv