# Music Dataset Preparation

# Setting Up Necessary Things

In [15]:
# Jupyter Notebook Magic Command - Auto Reloading
%reload_ext autoreload
%autoreload 2

# Jupyter Notebook Magic Command - Inline Plotting
%matplotlib inline

In [16]:
# Ignore All Warnings
import warnings
warnings.filterwarnings("ignore")

# Necessary Imports

In [17]:
from tqdm.notebook import tqdm
# Data
import pandas as pd

# String
import re

# Custom 
import preparation as ppt

# Data Cleaning

In [18]:
# Folder Path and Column Names
folder_path = "../../data/raw/tv_show/"
cols_name = ["title", "description", "genres", "imdb_score", "type"]

In [19]:
# Get All TV Show DataFrame
df_all_tv_show = ppt.get_all_df(folder_path, cols_name, "tv show")

In [20]:
# Get Details of Action Movies
ppt.get_df_info(df_all_tv_show["amazon_tv_show"])

Shape of the dataframe:  (9579, 7)
The DataFrame:

,title,description,genres,imdb_score,type,primary_genre,category
0,It's a Wonderful Life,A holiday favourite for generations... George...,"['drama', 'family', 'fantasy', 'romance', 'com...",8.6,MOVIE,['drama',tv show
1,Duck Soup,Rufus T. Firefly is named president/dictator o...,"['comedy', 'war']",7.8,MOVIE,['comedy',tv show
2,His Girl Friday,"Hildy, the journalist former wife of newspaper...","['drama', 'romance', 'comedy']",7.8,MOVIE,['drama',tv show
3,The Three Stooges,The Three Stooges were an American vaudeville ...,"['comedy', 'family']",8.5,SHOW,['comedy',tv show
4,Red River,Headstrong Thomas Dunson starts a thriving Tex...,"['western', 'drama', 'romance', 'action']",7.8,MOVIE,['western',tv show

All Data Types:

title             object
description       object
genres            object
imdb_score       float64
type              object
primary_genre     object
category          object
dtype: object

Null Values:

title            0
description      0
genres           0
imdb_score       0
type             0
primary_genre    0
category         0
dtype: int64

Duplicate Movie Name Count:  0
Duplicate Description Count:  0
DataFrame Details:

,title,description,genres,imdb_score,type,primary_genre,category
count,9579,9579,9579,9579.000000,9579,9579,9579
unique,9579,9579,2276,NaN,2,37,1
top,It's a Wonderful Life,A holiday favourite for generations... George...,['drama'],NaN,MOVIE,['drama',tv show
freq,1,1,769,NaN,8266,2127,9579
mean,NaN,NaN,NaN,5.970613,NaN,NaN,NaN
std,NaN,NaN,NaN,1.360581,NaN,NaN,NaN
min,NaN,NaN,NaN,1.100000,NaN,NaN,NaN
25%,NaN,NaN,NaN,5.100000,NaN,NaN,NaN
50%,NaN,NaN,NaN,6.100000,NaN,NaN,NaN
75%,NaN,NaN,NaN,7.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,9.900000,NaN,NaN,NaN

## Combine All The DataFrames

In [21]:
df_tv_show_full = ppt.get_combined_df(df_all_tv_show)

In [22]:
df_tv_show = ppt.drop_duplicate(df_tv_show_full)

In [23]:
df_tv_show.head()

,title,description,genres,imdb_score,type,primary_genre,category
0,It's a Wonderful Life,A holiday favourite for generations... George...,"['drama', 'family', 'fantasy', 'romance', 'com...",8.6,MOVIE,['drama',tv show
1,Duck Soup,Rufus T. Firefly is named president/dictator o...,"['comedy', 'war']",7.8,MOVIE,['comedy',tv show
2,His Girl Friday,"Hildy, the journalist former wife of newspaper...","['drama', 'romance', 'comedy']",7.8,MOVIE,['drama',tv show
3,The Three Stooges,The Three Stooges were an American vaudeville ...,"['comedy', 'family']",8.5,SHOW,['comedy',tv show
4,Red River,Headstrong Thomas Dunson starts a thriving Tex...,"['western', 'drama', 'romance', 'action']",7.8,MOVIE,['western',tv show

In [24]:
ppt.get_df_info(df_tv_show)

Shape of the dataframe:  (15462, 7)
The DataFrame:

,title,description,genres,imdb_score,type,primary_genre,category
0,It's a Wonderful Life,A holiday favourite for generations... George...,"['drama', 'family', 'fantasy', 'romance', 'com...",8.6,MOVIE,['drama',tv show
1,Duck Soup,Rufus T. Firefly is named president/dictator o...,"['comedy', 'war']",7.8,MOVIE,['comedy',tv show
2,His Girl Friday,"Hildy, the journalist former wife of newspaper...","['drama', 'romance', 'comedy']",7.8,MOVIE,['drama',tv show
3,The Three Stooges,The Three Stooges were an American vaudeville ...,"['comedy', 'family']",8.5,SHOW,['comedy',tv show
4,Red River,Headstrong Thomas Dunson starts a thriving Tex...,"['western', 'drama', 'romance', 'action']",7.8,MOVIE,['western',tv show

All Data Types:

title             object
description       object
genres            object
imdb_score       float64
type              object
primary_genre     object
category          object
dtype: object

Null Values:

title            0
description      0
genres           0
imdb_score       0
type             0
primary_genre    0
category         0
dtype: int64

Duplicate Movie Name Count:  0
Duplicate Description Count:  0
DataFrame Details:

,title,description,genres,imdb_score,type,primary_genre,category
count,15462,15462,15462,15462.000000,15462,15462,15462
unique,15462,15462,3717,NaN,2,38,1
top,It's a Wonderful Life,A holiday favourite for generations... George...,['documentation'],NaN,MOVIE,['drama',tv show
freq,1,1,1041,NaN,11980,3189,15462
mean,NaN,NaN,NaN,6.286677,NaN,NaN,NaN
std,NaN,NaN,NaN,1.328231,NaN,NaN,NaN
min,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,5.500000,NaN,NaN,NaN
50%,NaN,NaN,NaN,6.400000,NaN,NaN,NaN
75%,NaN,NaN,NaN,7.300000,NaN,NaN,NaN
max,NaN,NaN,NaN,9.900000,NaN,NaN,NaN

In [25]:
df_tv_show

,title,description,genres,imdb_score,type,primary_genre,category
0,It's a Wonderful Life,A holiday favourite for generations... George...,"['drama', 'family', 'fantasy', 'romance', 'com...",8.6,MOVIE,['drama',tv show
1,Duck Soup,Rufus T. Firefly is named president/dictator o...,"['comedy', 'war']",7.8,MOVIE,['comedy',tv show
2,His Girl Friday,"Hildy, the journalist former wife of newspaper...","['drama', 'romance', 'comedy']",7.8,MOVIE,['drama',tv show
3,The Three Stooges,The Three Stooges were an American vaudeville ...,"['comedy', 'family']",8.5,SHOW,['comedy',tv show
4,Red River,Headstrong Thomas Dunson starts a thriving Tex...,"['western', 'drama', 'romance', 'action']",7.8,MOVIE,['western',tv show
...,...,...,...,...,...,...,...
2388,Roman to the Rescue,Follows 10-year-old rescuer Roman McConn on hi...,['family'],7.0,SHOW,['family'],tv show
2389,Capital One College Bowl,Follow college students out of the classroom a...,['sport'],6.9,SHOW,['sport'],tv show
2393,Nine Films About Technology,Nine loosely connected and darkly comic storie...,"['comedy', 'drama']",7.3,SHOW,['comedy',tv show
2395,Candified: Home For The Holidays,The challenge - create a life-size house made ...,['reality'],4.7,SHOW,['reality'],tv show
2397,Madagascar: A Little Wild Holiday Goose Chase,"Melman the Giraffe meets Hank, a goose who has...","['comedy', 'family', 'animation']",4.8,MOVIE,['comedy',tv show

In [26]:
df_tv_show.rename(columns={"imdb_score": "rating",}, inplace=True, errors='raise')

In [28]:
ppt.get_df_info(df_tv_show)

Shape of the dataframe:  (15462, 7)
The DataFrame:

,title,description,genres,rating,type,primary_genre,category
0,It's a Wonderful Life,A holiday favourite for generations... George...,"['drama', 'family', 'fantasy', 'romance', 'com...",8.6,MOVIE,['drama',tv show
1,Duck Soup,Rufus T. Firefly is named president/dictator o...,"['comedy', 'war']",7.8,MOVIE,['comedy',tv show
2,His Girl Friday,"Hildy, the journalist former wife of newspaper...","['drama', 'romance', 'comedy']",7.8,MOVIE,['drama',tv show
3,The Three Stooges,The Three Stooges were an American vaudeville ...,"['comedy', 'family']",8.5,SHOW,['comedy',tv show
4,Red River,Headstrong Thomas Dunson starts a thriving Tex...,"['western', 'drama', 'romance', 'action']",7.8,MOVIE,['western',tv show

All Data Types:

title             object
description       object
genres            object
rating           float64
type              object
primary_genre     object
category          object
dtype: object

Null Values:

title            0
description      0
genres           0
rating           0
type             0
primary_genre    0
category         0
dtype: int64

Duplicate Movie Name Count:  0
Duplicate Description Count:  0
DataFrame Details:

,title,description,genres,rating,type,primary_genre,category
count,15462,15462,15462,15462.000000,15462,15462,15462
unique,15462,15462,3717,NaN,2,38,1
top,It's a Wonderful Life,A holiday favourite for generations... George...,['documentation'],NaN,MOVIE,['drama',tv show
freq,1,1,1041,NaN,11980,3189,15462
mean,NaN,NaN,NaN,6.286677,NaN,NaN,NaN
std,NaN,NaN,NaN,1.328231,NaN,NaN,NaN
min,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,5.500000,NaN,NaN,NaN
50%,NaN,NaN,NaN,6.400000,NaN,NaN,NaN
75%,NaN,NaN,NaN,7.300000,NaN,NaN,NaN
max,NaN,NaN,NaN,9.900000,NaN,NaN,NaN

In [57]:
df_only_tv_show = df_tv_show[df_tv_show["type"] == "SHOW"].reset_index(drop=True)

In [58]:
df_only_tv_show.head()

,title,description,genres,rating,type,primary_genre,category
0,The Three Stooges,The Three Stooges were an American vaudeville ...,"['comedy', 'family']",8.5,SHOW,['comedy',tv show
1,The Jack Benny Program,Laugh along with funnyman Jack Benny as he bri...,['comedy'],8.6,SHOW,['comedy'],tv show
2,What's My Line?,Four panelists must determine guests' occupati...,"['reality', 'family']",8.5,SHOW,['reality',tv show
3,The Avengers,The Avengers is a British television series cr...,"['scifi', 'action', 'crime', 'romance', 'thril...",8.3,SHOW,['scifi',tv show
4,Mister Rogers' Neighborhood,Mister Rogers' Neighborhood is an American chi...,"['family', 'fantasy', 'music']",8.7,SHOW,['family',tv show

In [59]:
ppt.get_df_info(df_only_tv_show)

Shape of the dataframe:  (3482, 7)
The DataFrame:

,title,description,genres,rating,type,primary_genre,category
0,The Three Stooges,The Three Stooges were an American vaudeville ...,"['comedy', 'family']",8.5,SHOW,['comedy',tv show
1,The Jack Benny Program,Laugh along with funnyman Jack Benny as he bri...,['comedy'],8.6,SHOW,['comedy'],tv show
2,What's My Line?,Four panelists must determine guests' occupati...,"['reality', 'family']",8.5,SHOW,['reality',tv show
3,The Avengers,The Avengers is a British television series cr...,"['scifi', 'action', 'crime', 'romance', 'thril...",8.3,SHOW,['scifi',tv show
4,Mister Rogers' Neighborhood,Mister Rogers' Neighborhood is an American chi...,"['family', 'fantasy', 'music']",8.7,SHOW,['family',tv show

All Data Types:

title             object
description       object
genres            object
rating           float64
type              object
primary_genre     object
category          object
dtype: object

Null Values:

title            0
description      0
genres           0
rating           0
type             0
primary_genre    0
category         0
dtype: int64

Duplicate Movie Name Count:  0
Duplicate Description Count:  0
DataFrame Details:

,title,description,genres,rating,type,primary_genre,category
count,3482,3482,3482,3482.000000,3482,3482,3482
unique,3482,3482,1347,NaN,1,36,1
top,The Three Stooges,The Three Stooges were an American vaudeville ...,['documentation'],NaN,SHOW,['drama',tv show
freq,1,1,221,NaN,3482,577,3482
mean,NaN,NaN,NaN,7.152412,NaN,NaN,NaN
std,NaN,NaN,NaN,1.118121,NaN,NaN,NaN
min,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,6.600000,NaN,NaN,NaN
50%,NaN,NaN,NaN,7.300000,NaN,NaN,NaN
75%,NaN,NaN,NaN,7.900000,NaN,NaN,NaN
max,NaN,NaN,NaN,9.700000,NaN,NaN,NaN

## Fixed Genres and Primary Genres

In [63]:
genres_list = []

for i in tqdm(range(df_only_tv_show.shape[0])):
    try:
        genres_string = ", ".join(eval(df_only_tv_show["genres"][i]))
        genres_list.append(genres_string)
    except:
        genres_list.append("")
        continue

  0%|          | 0/3482 [00:00<?, ?it/s]

In [67]:
genres_list[:5]

['comedy, family',
 'comedy',
 'reality, family',
 'scifi, action, crime, romance, thriller, comedy',
 'family, fantasy, music']

In [68]:
df_only_tv_show["genres"] = genres_list

In [71]:
df_only_tv_show.head()

,title,description,genres,rating,type,primary_genre,category
0,The Three Stooges,The Three Stooges were an American vaudeville ...,"comedy, family",8.5,SHOW,['comedy',tv show
1,The Jack Benny Program,Laugh along with funnyman Jack Benny as he bri...,comedy,8.6,SHOW,['comedy'],tv show
2,What's My Line?,Four panelists must determine guests' occupati...,"reality, family",8.5,SHOW,['reality',tv show
3,The Avengers,The Avengers is a British television series cr...,"scifi, action, crime, romance, thriller, comedy",8.3,SHOW,['scifi',tv show
4,Mister Rogers' Neighborhood,Mister Rogers' Neighborhood is an American chi...,"family, fantasy, music",8.7,SHOW,['family',tv show

In [81]:
df_only_tv_show["primary_genre"] = df_only_tv_show["primary_genre"].str.replace(r'\[|\]|\'', '', regex=True)

In [82]:
df_only_tv_show.head()

,title,description,genres,rating,type,primary_genre,category
0,The Three Stooges,The Three Stooges were an American vaudeville ...,"comedy, family",8.5,SHOW,comedy,tv show
1,The Jack Benny Program,Laugh along with funnyman Jack Benny as he bri...,comedy,8.6,SHOW,comedy,tv show
2,What's My Line?,Four panelists must determine guests' occupati...,"reality, family",8.5,SHOW,reality,tv show
3,The Avengers,The Avengers is a British television series cr...,"scifi, action, crime, romance, thriller, comedy",8.3,SHOW,scifi,tv show
4,Mister Rogers' Neighborhood,Mister Rogers' Neighborhood is an American chi...,"family, fantasy, music",8.7,SHOW,family,tv show

In [84]:
df_only_tv_show = df_only_tv_show.drop("type", axis=1)

In [85]:
ppt.get_df_info(df_only_tv_show)

Shape of the dataframe:  (3482, 6)
The DataFrame:

,title,description,genres,rating,primary_genre,category
0,The Three Stooges,The Three Stooges were an American vaudeville ...,"comedy, family",8.5,comedy,tv show
1,The Jack Benny Program,Laugh along with funnyman Jack Benny as he bri...,comedy,8.6,comedy,tv show
2,What's My Line?,Four panelists must determine guests' occupati...,"reality, family",8.5,reality,tv show
3,The Avengers,The Avengers is a British television series cr...,"scifi, action, crime, romance, thriller, comedy",8.3,scifi,tv show
4,Mister Rogers' Neighborhood,Mister Rogers' Neighborhood is an American chi...,"family, fantasy, music",8.7,family,tv show

All Data Types:

title             object
description       object
genres            object
rating           float64
primary_genre     object
category          object
dtype: object

Null Values:

title            0
description      0
genres           0
rating           0
primary_genre    0
category         0
dtype: int64

Duplicate Movie Name Count:  0
Duplicate Description Count:  0
DataFrame Details:

,title,description,genres,rating,primary_genre,category
count,3482,3482,3482,3482.000000,3482,3482
unique,3482,3482,1347,NaN,19,1
top,The Three Stooges,The Three Stooges were an American vaudeville ...,documentation,NaN,drama,tv show
freq,1,1,221,NaN,690,3482
mean,NaN,NaN,NaN,7.152412,NaN,NaN
std,NaN,NaN,NaN,1.118121,NaN,NaN
min,NaN,NaN,NaN,1.000000,NaN,NaN
25%,NaN,NaN,NaN,6.600000,NaN,NaN
50%,NaN,NaN,NaN,7.300000,NaN,NaN
75%,NaN,NaN,NaN,7.900000,NaN,NaN
max,NaN,NaN,NaN,9.700000,NaN,NaN

# Dataframe to CSV

In [86]:
tv_show_path = "../../data/processed/tv_show/tv_show_rating.csv"

ppt.write_dataframe_to_csv(tv_show_path, df_only_tv_show)

Dataframe saved successfully:  ../../data/processed/tv_show/tv_show_rating.csv