# Video Game Dataset Preparation

# Setting Up Necessary Things

In [15]:
# Jupyter Notebook Magic Command - Auto Reloading
%reload_ext autoreload
%autoreload 2

# Jupyter Notebook Magic Command - Inline Plotting
%matplotlib inline

In [16]:
# Ignore All Warnings
import warnings
warnings.filterwarnings("ignore")

# Necessary Imports

In [17]:
# General
import os
from IPython.display import display

# Data
import pandas as pd

# Custom 
import preparation as ppt

# Without Rating

## Data Cleaning

In [18]:
# Path
file_path_wr = "../../data/raw/video_game/games.csv"

In [19]:
# Show Video Game DataFrame
df = pd.read_csv(file_path_wr)
df.head()

,AppID,Name,Release date,Estimated owners,Peak CCU,Required age,Price,DLC count,About the game,Supported languages,...,Average playtime two weeks,Median playtime forever,Median playtime two weeks,Developers,Publishers,Categories,Genres,Tags,Screenshots,Movies
0,20200,Galactic Bowling,"Oct 21, 2008",0 - 20000,0,0,19.99,0,Galactic Bowling is an exaggerated and stylize...,['English'],...,0,0,0,Perpetual FX Creative,Perpetual FX Creative,"Single-player,Multi-player,Steam Achievements,...","Casual,Indie,Sports","Indie,Casual,Sports,Bowling",https://cdn.akamai.steamstatic.com/steam/apps/...,http://cdn.akamai.steamstatic.com/steam/apps/2...
1,655370,Train Bandit,"Oct 12, 2017",0 - 20000,0,0,0.99,0,THE LAW!! Looks to be a showdown atop a train....,"['English', 'French', 'Italian', 'German', 'Sp...",...,0,0,0,Rusty Moyher,Wild Rooster,"Single-player,Steam Achievements,Full controll...","Action,Indie","Indie,Action,Pixel Graphics,2D,Retro,Arcade,Sc...",https://cdn.akamai.steamstatic.com/steam/apps/...,http://cdn.akamai.steamstatic.com/steam/apps/2...
2,1732930,Jolt Project,"Nov 17, 2021",0 - 20000,0,0,4.99,0,Jolt Project: The army now has a new robotics ...,"['English', 'Portuguese - Brazil']",...,0,0,0,Campião Games,Campião Games,Single-player,"Action,Adventure,Indie,Strategy",NaN,https://cdn.akamai.steamstatic.com/steam/apps/...,http://cdn.akamai.steamstatic.com/steam/apps/2...
3,1355720,Henosis™,"Jul 23, 2020",0 - 20000,0,0,5.99,0,HENOSIS™ is a mysterious 2D Platform Puzzler w...,"['English', 'French', 'Italian', 'German', 'Sp...",...,0,0,0,Odd Critter Games,Odd Critter Games,"Single-player,Full controller support","Adventure,Casual,Indie","2D Platformer,Atmospheric,Surreal,Mystery,Puzz...",https://cdn.akamai.steamstatic.com/steam/apps/...,http://cdn.akamai.steamstatic.com/steam/apps/2...
4,1139950,Two Weeks in Painland,"Feb 3, 2020",0 - 20000,0,0,0.00,0,ABOUT THE GAME Play as a hacker who has arrang...,"['English', 'Spanish - Spain']",...,0,0,0,Unusual Games,Unusual Games,"Single-player,Steam Achievements","Adventure,Indie","Indie,Adventure,Nudity,Violent,Sexual Content,...",https://cdn.akamai.steamstatic.com/steam/apps/...,http://cdn.akamai.steamstatic.com/steam/apps/2...

In [20]:
# Column Names
cols_name = ["Name", "About the game", "Genres"]

In [21]:
df_video_game = ppt.get_processed_df(file_path_wr, cols_name, "game")

In [22]:
ppt.get_df_info(df_video_game)

Shape of the dataframe:  (73123, 5)
The DataFrame:

,title,description,genres,primary_genre,type
0,Galactic Bowling,Galactic Bowling is an exaggerated and stylize...,"Casual,Indie,Sports",Casual,game
1,Train Bandit,THE LAW!! Looks to be a showdown atop a train....,"Action,Indie",Action,game
2,Jolt Project,Jolt Project: The army now has a new robotics ...,"Action,Adventure,Indie,Strategy",Action,game
3,Henosis™,HENOSIS™ is a mysterious 2D Platform Puzzler w...,"Adventure,Casual,Indie",Adventure,game
4,Two Weeks in Painland,ABOUT THE GAME Play as a hacker who has arrang...,"Adventure,Indie",Adventure,game

All Data Types:

title            object
description      object
genres           object
primary_genre    object
type             object
dtype: object

Null Values:

title            0
description      0
genres           0
primary_genre    0
type             0
dtype: int64

Duplicate Movie Name Count:  0
Duplicate Description Count:  0
DataFrame Details:

,title,description,genres,primary_genre,type
count,73123,73123,73123,73123,73123
unique,73123,73123,2260,27,1
top,Galactic Bowling,Galactic Bowling is an exaggerated and stylize...,"Casual,Indie",Action,game
freq,1,1,4240,30024,73123

## DataFrame to CSV

In [23]:
video_game_path = "../../data/processed/video_game/video_game.csv"

ppt.write_dataframe_to_csv(video_game_path, df_video_game)

Dataframe saved successfully:  ../../data/processed/video_game/video_game.csv

# With Rating

## Data Cleaning

In [24]:
# Path
file_path_wr = "../../data/raw/video_game/imdb_games.csv"

In [25]:
# Show Video Game DataFrame
df = pd.read_csv(file_path_wr)
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

### Reform DataFrame

In [45]:
genres_list = []

for i in range(df.shape[0]):
    genres = ""
    for idx in range(8, 17):
        if df[df.columns[idx]][i]:
            genres += (df.columns[idx] + ", ")
        
    genres_list.append(genres[:-2])

In [46]:
genres_list[:5]

['Action, Adventure, Fantasy',
 'Action, Adventure, Crime',
 'Action, Crime',
 'Action, Adventure',
 'Action, Adventure']

In [47]:
df["Genres"] = genres_list

In [50]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller,Genres
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False,"Action, Adventure, Fantasy"
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False,"Action, Adventure, Crime"
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False,"Action, Crime"
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False,"Action, Adventure"
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False,"Action, Adventure"

In [52]:
video_game_reform_path = "../../data/raw/video_game/imdb_reform_games.csv"

ppt.write_dataframe_to_csv(video_game_reform_path, df)

Dataframe saved successfully:  ../../data/raw/video_game/imdb_reform_games.csv

### Refactoring

In [55]:
# Path
file_path_r = "../../data/raw/video_game/imdb_reform_games.csv"

In [56]:
# Column Names
cols_name = ["name", "plot", "Genres", "rating"]

In [57]:
df_video_game = ppt.get_processed_df(file_path_r, cols_name, "game")

In [58]:
ppt.get_df_info(df_video_game)

Shape of the dataframe:  (8014, 6)
The DataFrame:

,title,description,genres,rating,primary_genre,type
0,Spider-Man,"When a new villain threatens New York City, Pe...","Action, Adventure, Fantasy",9.2,Action,game
1,Red Dead Redemption II,Amidst the decline of the Wild West at the tur...,"Action, Adventure, Crime",9.7,Action,game
2,Grand Theft Auto V,Three very different criminals team up for a s...,"Action, Crime",9.5,Action,game
3,God of War,"After wiping out the gods of Mount Olympus, Kr...","Action, Adventure",9.6,Action,game
4,Uncharted 4: A Thief's End,Thrown back into the dangerous underworld he'd...,"Action, Adventure",9.5,Action,game

All Data Types:

title             object
description       object
genres            object
rating           float64
primary_genre     object
type              object
dtype: object

Null Values:

title            0
description      0
genres           0
rating           0
primary_genre    0
type             0
dtype: int64

Duplicate Movie Name Count:  0
Duplicate Description Count:  0
DataFrame Details:

,title,description,genres,rating,primary_genre,type
count,8014,8014,8014,8014.000000,8014,8014
unique,8014,8014,94,NaN,9,1
top,Spider-Man,"When a new villain threatens New York City, Pe...","Action, Adventure, Fantasy",NaN,Action,game
freq,1,1,1082,NaN,5601,8014
mean,NaN,NaN,NaN,7.151447,NaN,NaN
std,NaN,NaN,NaN,1.168519,NaN,NaN
min,NaN,NaN,NaN,1.000000,NaN,NaN
25%,NaN,NaN,NaN,6.600000,NaN,NaN
50%,NaN,NaN,NaN,7.300000,NaN,NaN
75%,NaN,NaN,NaN,7.900000,NaN,NaN
max,NaN,NaN,NaN,9.700000,NaN,NaN

## DataFrame to CSV

In [59]:
video_game_path = "../../data/processed/video_game/video_game_rating.csv"

ppt.write_dataframe_to_csv(video_game_path, df_video_game)

Dataframe saved successfully:  ../../data/processed/video_game/video_game_rating.csv